/* 

Description: Dashing Dimes Design Page
Author: Aixin Zhong, Inderpal Singh Brar, Nathálya Amorim Silva Menezes and Seunghyeon Yeom




/*--------------------------------------------------------------
Accessibility Starts
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
    clip-path: inset(1px 1px 1px 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip-path: auto !important;
    color: #626262;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*--------------------------------------------------------------
Accessibility Ends 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Starts General Styles  
--------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	color: #000;
    font-family: 'Sarabun', sans-serif;
    background-color: #FAFCFF;
}	

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
  padding-top: 0.5em;
  /* padding-bottom: 1em; */
}

h1 {
  font-size:70px ;
}

h2 {
  font-size:50px;
}

h3 {
  font: 25px;
}

p{
 font-size:20px; 
}

.hidden {
    display: none;
}
/* ++++++++++++++  */

.ml-20px {
  margin-left: 20px;
}

.ml-107px{
  margin-left: 107px;
}

.ml-70px {
  margin-left: 70px;
}

.ml-30px {
  margin-left: 30px;
}

.ml-35px {
  margin-left: 35px;
}



.mr-20px {
  margin-right: 20px;
}

.mt {
  margin-top: 30px;
}
.mt-45px {
  margin-top:45px;
}


.mt-70px {
  margin-top:70px;
}

.mt-100px {
  margin-top: 100px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-70px {
  margin-bottom: 70px;
}

.mobile-font40px{
  font-size:40px ;
}

.mobile-font30px{
  font-size:30px ;
}

.white-font {
  color: #fff;
}

.gray-color {
  color:#707070;
}

.blue-color {
  color:#1C3176
}



.allignment{
  text-align: center;
}

.centerSocial {
  margin-left: 170px;
  margin-bottom: 20px;
}

/* +++++++++ */

/* ++++++++++++++++BUTTONS+++++++++++++++ */

.btn-blue {
    display: block;
    width: 114px;
    background-color: #1C3176;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 29px;
    font-size: 12px;
    cursor: pointer;
}

span.chip {

  display: block;
  width: 85px;
  background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
  color: #1C3176;
  text-decoration: none;
  border: none;
  border-radius: 29px;
  font-size: 14 px;
  font-weight: bold;
  box-shadow: 0px 2px 8px #aaa; 
  

}



/* ++++++++++++++++BUTTONS+++++++++++++++ */
/*--------------------------------------------------------------
Ends General Styles  
--------------------------------------------------------------*/



/*--------------------------------------------------------------
 Start Mobile Grid 
--------------------------------------------------------------*/
.head, .main > *, .foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one-item {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr;
}

.one-item-profile {
  display: grid;
  grid-column: 1 / span 3;
  grid-template-columns: 1fr;
}

.four-items {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.two-items {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.three-items {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.four-items {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.four-items {
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.six-items {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;  
}
/*--------------------------------------------------------------
 End Mobile Grid 
--------------------------------------------------------------*/


@supports (grid-area: auto) {

/* ==============================================================
	 Stars MOBILE 
	 ============================================================== */



     #logo img {
        grid-column: 1/3;
        min-width: 25%;
        width: 50%;
        margin-top: 20px;
        margin-left: 20px;
     }


     /* Starts Mobile Overlay Menu */
     .navbar-desktop {
        display: block;
     }

     .navbar-full {
        display: none;
     }

     .navbar-desktop {
        display: none;
       }

      #overlay-button {
        position: absolute;
        right: 1em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
      }

      #overlay-button span {
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: #1C3176;
        position: relative;
        display: block;
        transition: all 0.2s ease-in-out;
      }

      #overlay-button span:before {
        top: -7px;
        visibility: visible;
      }

      #overlay-button span:after {
        top: 7px;
      }

      #overlay-button span:before,
      #overlay-button span:after {
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: #EFDD00;
        position: absolute;
        content: "";
        transition: all 0.2s ease-in-out;
      }

      #overlay-button:hover span,
      #overlay-button:hover span:before,
      #overlay-button:hover span:after {
        background: #1C3176;
      }

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked~#overlay {
        visibility: visible;
      }

      input[type=checkbox]:checked~#overlay-button:hover span,
      input[type=checkbox]:checked~#overlay-button span {
        background: transparent;
      }

      input[type=checkbox]:checked~#overlay-button span:before {
        transform: rotate(45deg) translate(5px, 5px);
        opacity: 1;
      }

      input[type=checkbox]:checked~#overlay-button span:after {
        transform: rotate(-45deg) translate(5px, -5px);
      }

      #overlay {
        height: 100vh;
        width: 100vw;
        background:#1C3176;
        z-index: 2;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        /* This fixes scrolling issue */
        overflow: hidden;
      }

      /* #overlay.active {
        visibility: visible;
      } */

      #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
      }

      #overlay ul li {
        padding: .75em;
      }

      #overlay ul li a {
        color: #E5ECF7;
        text-decoration: none;
        font-size: 1.25em;
      }

      #overlay ul li a:hover {
        color: #EFDD00;
      }

      /* Ends Mobile Overlay Menu */


/* ABOUT PAGE */

.heroImage {
  position: relative;
  height: 420px;
  width: 390px;
  background-image: url(../img/about-top-m.jpg);
}

.heroImage h2 {
  margin-top: 160px;
  margin-left: 85px;
}

.box-color-services {
  margin-left: 50px;
  height: 355px;
  width:300px;
  background-color: #E5ECF7;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius:20px ;
}

.box-color-team {
  margin-top: 110px;
  margin-left: 20px;
  height:384px ;
  width:353px;
  background-color: #E5ECF7;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius:20px ;

}

.box-color-blue {
  margin-left: 30px;
  height:330px ;
  width:210px;
  background-color: #1C3176;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius:20px ;

}

.pic-position-four {

}

.pic-position-three {
  position: absolute;
  margin-left: 82px;
  margin-top: -96px;

}

.pic-position-one {
  position: absolute;
  margin-left: 82px;
  margin-top: -97px;
}

.pic-position-two {
  position: absolute;
  margin-left: 88px;
  margin-top: -101px;
}

/* ============ Pop Up Pictures Profile========== */
.profile_picTwo {
  position:absolute;
  margin-left:54px;
  margin-top:-47px ;
}
.service-box {
  margin-right: 20px;
  margin-bottom: 20px;

}

.one-item-profile p {
  line-height:25px ;
}

/* ============ Pop Up Pictures Profile========== */

/* Starts MOBILE FOOTER */

.box-color-lblue {
  background-color:#E5ECF7;
 }

 .logo-footer {
  width: 28%;
  margin-left: 9em;
 }

input,
textarea {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #aaa; 
}

input[type=email]{
  height: 2.5em;
  border: none;
  padding-left: 20px;
  padding-top: 3px;
  color: #aaa;
  font-size: 10px;
}


 

  }


 /* Ends MOBILE FOOTER */



/* ==============================================================
	 Ends MOBILE
	 ============================================================== */





/* ==============================================================
	 Starts TABLET
	 ============================================================== */

@media screen and (min-width: 640px) and (max-width: 1023px) {

    #logo img {
        grid-column: 1/3;
        width: 30%;
        min-width: 15%;
        margin-top: 20px;
        margin-left: 20px;
     }

}


/* ==============================================================
	 Ends TABLET 
	 ============================================================== */






/* ==============================================================
	 Starts DESKTOP
============================================================== */
@media screen and (min-width: 1024px) {




    /* Starts Desktop Grid */

    .head,
        .main>*,
        .foot {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
        }

    .nav-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px; 
     }

     

        .one-item {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: 1fr;
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .two-items {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .three-items {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .four-items-flavours {
            display: grid;
            grid-column: 1 / span 4;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .four-items {
            display: grid;
            grid-column: 1 / span 4;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .six-items {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
            padding-bottom: 3em;
            margin-bottom: 3em;
        }
    /* Ends Desktop Grid */
    
    





   /*---------------- Starts Nav and Header Desktop ------------*/
   
   .navbar-mobile {
    display: none;
 }

 #logo img {

    grid-column: 1/3;
    width: 60%;
    min-width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
 }

 header {
    position:sticky;
    box-shadow: 0px 5px 8px #E5ECF7; 
}

 .navbar-full {
    display: inline;
    grid-column: 3/10;
    margin-top: 60px;
 }



nav ul {
    margin: 0;
    padding: 0em 0em .95em;
    text-align: end;
    color: #000;
    
}

nav ul {
    margin: 0;
    padding: 0em 0em .95em;
    text-align: end;
}

nav ul li {
    display: inline;
    margin-right: 150px;
    
}

nav ul li a {
    color: #000;
    font-size: inherit;
    text-decoration: none;
}

nav ul li a:hover  {
    padding-bottom: .5em;
    color: #1C3176;
    border-bottom: 3px solid #1C3176;
    transition: background-color 500ms linear;

   }
   



   
   

/*---------------- Ends Nav and Header Desktop ------------*/




/* ==============================================================
	 Ends DESKTOP
============================================================== */


}